
<h1>My Videos</h1>
<%= link_to 'Submit a new video', new_user_video_path %>

<% @user_videos.each do |user_video| %>
<div class = "list-item">
    <h3><%= user_video.title %></h3>
    <%= user_video.weekly_tune_id %>
    <h4><%= user_video.description %></h4>
    <p><%= link_to 'View', user_video %> | <%= link_to 'Edit', edit_user_video_path(user_video) %> | <%= link_to 'Delete', user_video, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
