<h1>Listing user_videos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User_id</th>
    <th>URL</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_videos.each do |user_video| %>
  <tr>
    <td><%= user_video.title %></td>
    <td><%= user_video.user_id %></td>
    <td><%= user_video.video_embed %></td>
    <td><%= user_video.description %></td>
    <td><%= link_to 'Show', user_video %></td>
    <td><%= link_to 'Edit', edit_user_video_path(user_video) %></td>
    <td><%= link_to 'Destroy', user_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_user_video_path %>
