<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @user_video.title %>
</p>

<p>
  <b>Description:</b>
  <%= @user_video.description %>
</p>

<iframe width="425" height="349" src="<%= @u %>" frameborder="0" allowfullscreen>
</iframe>
<br />
<%= link_to 'Edit', edit_user_video_path(@user_video) %> |
<%= link_to 'Back', user_videos_path %>
