
<%= form_for(@stat) do |f| %>
  <% if @stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% @stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quality %><br />
    <%= f.text_field :quality %>
  </div>

  <div class="field">
    <%= f.label :score %><br />
    <p> 0 <%= f.range_field :score, :min => 0, :max => 10 %> 10 </p>
  </div>

  <div class="field">
    <%= f.hidden_field :rater_id, :value => current_user %>
    <%= f.hidden_field :user_id, :value => (@stat.user_id or params[:user_id]) %>
    <%= f.hidden_field :user_video_id, :value => (@stat.user_video_id or params[:user_video_id]) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
